<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangagain.wx.mapper.miniprogram.WxUserMapper">
    <select id="findByOpenid" parameterType="java.lang.String" resultType="com.wangagain.wx.entity.miniprogram.WxUser">
        select * from wx_user where openid = #{openid}
    </select>
    <insert id="insert" parameterType="com.wangagain.wx.entity.miniprogram.WxUser">
        insert into wx_user (openid, token, nickname, create_time) values (#{openid}, #{token}, #{nickname}, #{createTime})
    </insert>
    <update id="update" parameterType="com.wangagain.wx.entity.miniprogram.WxUser">
        update wx_user set token = #{token}, nickname = #{nickname} where openid = #{openid}
    </update>
</mapper>